---
import Author from '@shared/ui/author/Author.astro'
import Breadcrumbs from '@shared/ui/breadcrumbs/Breadcrumbs.astro'
import EditableContent from '@shared/ui/editable-content/EditableContent.astro'
import Layout from '@widgets/layout/Layout.astro'
import Title from '@shared/ui/title/Title.astro'
import Text from '@shared/ui/text/Text.astro'
import GalleryItem from '@shared/ui/gallery-item/GalleryItem.astro'
import Image from '@shared/assets/images/image.jpg'
import Picture from '@shared/ui/picture/Picture.astro'
import AccordionContainer from '@shared/ui/accordion/accordion-container/AccordionContainer.astro'
import Accordion from '@shared/ui/accordion/Accordion.astro'
import Tooltip from '@shared/ui/tooltip/Tooltip.astro'
import Icon, { icons, type IconKey } from '@shared/ui/icon/Icon.astro'
import Tab from '@shared/ui/tabs/tab/Tab.astro'
import TabsList from '@shared/ui/tabs/tabs-list/TabsList.astro'
import TabPanel from '@shared/ui/tabs/tab-panel/TabPanel.astro'
import Tabs from '@shared/ui/tabs/Tabs.astro'
import Toast from '@shared/ui/toast/toast.astro'
import List from '@shared/ui/list/List.astro'
import CatalogMenu from './_components/catalog-menu/CatalogMenu.astro'
import Marquee from '@shared/ui/gsap/marquee/Marquee.astro'

import UiInputs from './_components/ui-inputs/UiInputs.astro'
import UiButtons from './_components/ui-buttons/UiButtons.astro'
import UiModals from './_components/ui-modals/UiModals.astro'
import Specifications from '@shared/ui/specifications/Specifications.astro'
import Skeleton from '@shared/ui/skeleton/Skeleton.astro'
import Badge from '@shared/ui/badge/Badge.astro'
import Rating from '@shared/ui/rating/Rating.astro'
import Pagination from '@shared/ui/pagination/Pagination.astro'
import Calendar from '@shared/ui/calendar/Calendar.astro'

import UiInputUpload from './_components/ui-input-upload/UiInputUpload.astro'
import UiInputNumber from './_components/ui-input-number/UiInputNumber.astro'
import UiTable from './_components/ui-table/UiTable.astro'
import UiProgressBar from './_components/ui-progress-bar/UiProgressBar.astro'
---

<Layout pageName="ui">
  <div class="mx-5 mb-20 devices:mb-10">
    <h2 class="pt-10 text-center text-5xl font-bold devices:pt-6 devices:text-xl">
      Примеры UI компонентов проекта
    </h2>
    <div class="mt-10 mock">ГОТОВАЯ ЗАГЛУШКА - пишем класс "mock"</div>
    <hr class="my-10" />
    <div class="flex flex-col gap-[100px] devices:gap-16">
      <section class="p-6 shadow-custom">
        <h3 class="mb-6 text-4xl font-bold underline mobile:text-xl">Icon</h3>

        <div>
          <p class="text-xl">Передать проп name для выбора иконки</p>
          <p class="text-xl">Передать проп initial для возврата к стилям по умолчанию</p>
        </div>

        <div class="mt-10 grid gap-6 desktop:grid-flow-col devices:mt-6 devices:grid-cols-3">
          {
            Object.keys(icons).map(icon => (
              <div class="flex flex-col items-center gap-4">
                <Icon
                  name={icon as IconKey}
                  class="size-8"
                />
                <span class="text-lg">{icon}</span>
              </div>
            ))
          }
        </div>
      </section>
      <section class="p-6 shadow-custom">
        <h3 class="mb-20 text-4xl font-bold underline mobile:text-xl">Typography</h3>
        <div class="grid grid-cols-2 gap-[100px] devices:mt-10 devices:grid-cols-1 devices:gap-10">
          <div>
            <div class="flex items-end gap-10">
              <Title variant="240">Title</Title>
              <p>variant="240"</p>
            </div>
            <div class="flex items-end gap-10">
              <Title variant="140">Title</Title>
              <p>variant="140"</p>
            </div>
            <div class="flex items-end gap-10">
              <Title variant="120">Title</Title>
              <p>variant="120"</p>
            </div>
            <div class="flex items-end gap-10">
              <Title variant="80">Title</Title>
              <p>variant="80"</p>
            </div>
            <div class="flex items-end gap-10">
              <Title variant="48">Title</Title>
              <p>variant="48"</p>
            </div>
            <div class="flex items-end gap-10">
              <Title variant="32">Title</Title>
              <p>variant="32"</p>
            </div>
            <div class="flex items-end gap-10">
              <Title variant="24">Title</Title>
              <p>variant="24"</p>
            </div>
            <div class="flex items-end gap-10">
              <Title variant="20">Title</Title>
              <p>variant="20"</p>
            </div>
          </div>
          <div>
            <div class="flex items-end gap-10">
              <Text variant="32">Text</Text>
              <p>variant="32"</p>
            </div>
            <div class="flex items-end gap-10">
              <Text variant="24">Text</Text>
              <p>variant="24"</p>
            </div>
            <div class="flex items-end gap-10">
              <Text variant="20">Text</Text>
              <p>variant="20"</p>
            </div>
            <div class="flex items-end gap-10">
              <Text variant="17">Text</Text>
              <p>variant="17"</p>
            </div>
            <div class="flex items-end gap-10">
              <Text variant="14">Text</Text>
              <p>variant="14"</p>
            </div>
            <div class="flex items-end gap-10">
              <Text variant="12">Text</Text>
              <p>variant="12"</p>
            </div>
          </div>
        </div>
      </section>
      <section class="p-6 shadow-custom">
        <UiInputs />
      </section>
      <section class="p-6 shadow-custom">
        <h3
          class="mb-10 text-4xl font-bold underline mobile:text-xl"
          set:html="<List />"
        />
        <List
          items={[
            'Bullet list',
            'Bullet list',
            'Bullet list',
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cum minima maxime!'
          ]}
        />
        <br />
        <br />
        <List
          as="ol"
          variant="numeric"
          items={[
            'Bullet list',
            'Bullet list',
            'Bullet list',
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cum minima maxime!'
          ]}
        />
        <br />
        <br />
        <List
          as="ol"
          variant="duo-numeric"
          items={[
            {
              title: 'Title',
              subitems: [
                'Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cum minima maxime!',
                'Subitem'
              ]
            },
            { title: 'Title', subitems: ['Subitem'] }
          ]}
        />
      </section>
      <section class="p-6 shadow-custom">
        <h3
          class="mb-10 text-4xl font-bold underline mobile:text-xl"
          set:html="<Breadcrumbs />"
        />
        <Breadcrumbs
          list={[
            { text: 'Каталог' },
            { text: 'Посуда' },
            { text: 'Сковороды' },
            { text: 'Сковорода Шеф Бернардо' },
            { text: 'Каталог' },
            { text: 'Посуда' },
            { text: 'Сковороды' },
            { text: 'Сковорода Шеф Бернардо' },
            { text: 'Каталог' },
            { text: 'Посуда' },
            { text: 'Сковороды' },
            { text: 'Сковорода Шеф Бернардо' },
            { text: 'Каталог' },
            { text: 'Посуда' },
            { text: 'Сковороды' },
            { text: 'Сковорода Шеф Бернардо' }
          ]}
        />
      </section>
      <section class="p-6 shadow-custom">
        <UiButtons />
      </section>

      <section class="p-6 shadow-custom">
        <h3
          class="mb-10 text-4xl font-bold underline mobile:text-xl"
          set:html="<EditableContent />"
        />
        <EditableContent>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl eget
            ultricies tincidunt, nisl nisl aliquam nisl, eget ultricies nisl nisl eget nisl. Nullam
            auctor, nisl eget ultricies tincidunt, nisl nisl aliquam nisl, eget ultricies nisl nisl
            eget nisl. Sed euismod, nisl eget ultricies tincidunt, nisl nisl aliquam nisl, eget
            ultricies nisl nisl eget nisl. Sed euismod, nisl eget ultricies tincidunt, nisl nisl
            aliquam nisl, eget ultricies nisl nisl eget nisl. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nullam auctor, nisl eget ultricies tincidunt, nisl nisl
            aliquam nisl, eget ultricies nisl nisl eget nisl. Nullam auctor, nisl eget ultricies
            tincidunt, nisl nisl aliquam nisl, eget ultricies nisl nisl eget nisl. Sed euismod, nisl
            eget ultricies tincidunt, nisl nisl aliquam nisl, eget ultricies nisl nisl eget nisl.
            Sed euismod, nisl eget ultricies tincidunt, nisl nisl aliquam nisl, eget ultricies nisl
            nisl eget nisl.
          </p>
          <br />
          <ol>
            <li>
              <ol>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl eget
                  ultricies tincidunt, nisl nisl aliquam nisl, eget ultricies nisl nisl eget nisl.
                  Nullam auctor, nisl eget ultricies tincidunt, nisl nisl aliquam nisl, eget
                  ultricies nisl nisl eget nisl. Sed euismod, nisl eget ultricies tincidunt, nisl
                  nisl aliquam nisl, eget ultricies nisl nisl eget nisl. Sed euismod, nisl eget
                  ultricies tincidunt, nisl nisl aliquam nisl, eget ultricies nisl nisl eget nisl.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl eget
                  ultricies tincidunt, nisl nisl aliquam nisl, eget ultricies nisl nisl eget nisl.
                  Nullam auctor, nisl eget ultricies tincidunt, nisl nisl aliquam nisl, eget
                  ultricies nisl nisl eget nisl. Sed euismod, nisl eget ultricies tincidunt, nisl
                  nisl aliquam nisl, eget ultricies nisl nisl eget nisl. Sed euismod, nisl eget
                  ultricies tincidunt, nisl nisl aliquam nisl, eget ultricies nisl nisl eget nisl.
                </li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
              </ol>
            </li>
            <br />
            <li>
              <ol>
                <li>item</li>
                <li>item</li>
                <li>item</li>
              </ol>
            </li>
          </ol>
          <br />
          <ol>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
          </ol>
          <br />
          <ul>
            <li>Uno</li>
            <li>Duo</li>
            <li>Tres</li>
          </ul>
          <br />
          <ol>
            <li>Uno</li>
            <li>Duo</li>
            <li>Tres</li>
          </ol>
          <br />
          <h1>Заголовок h1</h1>
          <h2>Заголовок h2</h2>
          <h3>Заголовок h3</h3>
          <br />
          <a>Ссылка</a>
          <p>
            Vestibulum ante <a>ссылка в тексте</a> ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia curae; Nullam auctor, nisl eget ultricies tincidunt, nisl nisl aliquam nisl, eget
            ultricies nisl nisl eget nisl. Sed euismod, nisl eget ultricies tincidunt, nisl nisl aliquam
            nisl, eget ultricies nisl nisl eget nisl.
          </p>
        </EditableContent>
      </section>

      <section class="p-6 shadow-custom">
        <h3
          class="mb-10 text-4xl font-bold underline mobile:text-xl"
          set:html="<Specifications />"
        />
        <Specifications
          list={[
            { title: 'Мощность', value: '2 кВт' },
            { title: 'Ширина', value: '200 мм' },
            { title: 'Мощность', value: '2 кВт' },
            { title: 'Мощность', value: '2 кВт' },
            { title: 'Мощность', value: '2 кВт' },
            { title: 'Мощность', value: '2 кВт' }
          ]}
        />
      </section>

      <section class="p-6 shadow-custom">
        <h3
          class="mb-10 text-4xl font-bold underline mobile:text-xl"
          set:html="Swiper"
        />

        <div class="mb-10">
          <div
            class="swiper h-80 w-full rounded-xl"
            id="exampleSwiper"
            data-swiper="exampleSwiper"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide flex items-center justify-center bg-gray-200">Слайд 1</div>
              <div class="swiper-slide flex items-center justify-center bg-gray-300">Слайд 2</div>
              <div class="swiper-slide flex items-center justify-center bg-gray-400">Слайд 3</div>
            </div>
            <div data-swiper-pagination="exampleSwiper"></div>
            <div data-swiper-button-prev="exampleSwiper"></div>
            <div data-swiper-button-next="exampleSwiper"></div>
          </div>
        </div>
      </section>
      <section class="p-6 shadow-custom">
        <h3
          class="mb-10 text-4xl font-bold underline mobile:text-xl"
          set:html="<GalleryItem />"
        />
        <div class="mt-5">
          <div class="grid w-full grid-cols-4 gap-5">
            <GalleryItem
              src="./images/image.jpg"
              id="test2-gallery"
            >
              <Picture src={Image} />
            </GalleryItem>
            <GalleryItem
              src="./images/image.jpg"
              id="test2-gallery"
              ><Picture src={Image} />
            </GalleryItem>
          </div>
        </div>
      </section>
      <section class="p-6 shadow-custom">
        <h3
          class="mb-10 text-4xl font-bold underline mobile:text-xl"
          set:html="<Tabs />"
        />

        <Tabs
          id="ui-tabs"
          class="mt-6 devices:mt-4"
        >
          <TabsList slot="tabs-list">
            <Tab
              id="ui-tab-1"
              isActive
              >Таб 1</Tab
            >
            <Tab id="ui-tab-2">Таб 2</Tab>
            <Tab id="ui-tab-3">Таб 3</Tab>
            <Tab id="ui-tab-4">Таб 4</Tab>
            <Tab id="ui-tab-5">Таб 5</Tab>
            <Tab id="ui-tab-6">Таб 6</Tab>
          </TabsList>

          <TabPanel
            id="ui-tab-1-panel"
            isActive
          >
            Таб 1 - контент
          </TabPanel>
          <TabPanel id="ui-tab-2-panel"> Таб 2 - контент </TabPanel>
          <TabPanel id="ui-tab-3-panel"> Таб 3 - контент </TabPanel>
          <TabPanel id="ui-tab-4-panel"> Таб 4 - контент </TabPanel>
          <TabPanel id="ui-tab-5-panel"> Таб 5 - контент </TabPanel>
          <TabPanel id="ui-tab-6-panel"> Таб 6 - контент </TabPanel>
        </Tabs>
      </section>
      <section class="p-6 shadow-custom">
        <h3
          class="mb-10 text-4xl font-bold underline mobile:text-xl"
          set:html="<Accordion />"
        />
        <AccordionContainer id="accordion-container">
          <Accordion
            title="Аккордеон 1"
            id="ac0"
          >
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia doloremque
              minima quos natus ullam praesentium hic, deserunt impedit sunt, eligendi vero maiores
              quis commodi illo culpa quisquam! Corrupti, quae!
            </p>
          </Accordion>
          <Accordion
            title="Аккордеон 2"
            id="ac1"
          >
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi eveniet culpa neque
              facere accusamus eius? Excepturi assumenda ullam pariatur recusandae quae nulla sunt
              repellat, numquam vero, vel quam, eveniet porro!
            </p>
          </Accordion>
          <Accordion
            title="Аккордеон 3"
            id="ac2"
          >
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eius vitae iste
              unde quo dolorem commodi facere ab? Aut consequatur magni dolorum dolor unde alias
              voluptatem et eveniet temporibus ipsam!
            </p>
          </Accordion>
        </AccordionContainer>
      </section>
      <section class="p-6 shadow-custom">
        <h3
          class="mb-10 text-4xl font-bold underline mobile:text-xl"
          set:html="<Toast />"
        />
        <div class="hidden">
          <Toast
            data-toast-close
            id="toast-success"
            ><div
              class="flex items-center justify-between rounded-md bg-green-500 px-4 py-2 text-white"
            >
              <span>Успешно сохранено</span>
              <button
                class="ml-4"
                data-toast-close
                >×</button
              >
            </div>
          </Toast>
          <Toast
            data-toast-close
            id="toast-error"
            ><div
              class="flex items-center justify-between rounded-md bg-rose-500 px-4 py-2 text-white"
            >
              <span>Произошла ошибка</span>
              <button
                class="ml-4"
                data-toast-close
                >×</button
              >
            </div>
          </Toast>
        </div>

        <button
          id="btn-show-success"
          class="mt-2 rounded bg-cyan-500 px-4 py-2 text-white"
          >Пример вызова</button
        >
        <button
          id="btn-show-error"
          class="rounded bg-rose-500 px-4 py-2 text-white"
          >Показать ошибку</button
        >
        <button
          id="btn-show-temp"
          class="rounded bg-gray-600 px-4 py-2 text-white"
          >Временный toast</button
        >
      </section>
      <section class="p-6 shadow-custom">
        <UiModals />
      </section>
      <section class="p-6 shadow-custom">
        <h3
          class="mb-10 text-4xl font-bold underline mobile:text-xl"
          set:html="<Tooltip />"
        />
        <Tooltip
          content="Укажите количество виртуальных процессоров"
          placement="top"
          class="mb-5"
        >
          Наведи на меня</Tooltip
        >
      </section>
      <section class="p-6 shadow-custom">
        <h3
          class="mb-10 text-4xl font-bold underline mobile:text-xl"
          set:html="<CatalogMenu />"
        />
        <div class="h-[500px] shadow-custom desktop:w-1/2">
          <CatalogMenu />
        </div>
      </section>
      <section class="p-6 shadow-custom">
        <h3
          class="mb-10 text-4xl font-bold underline mobile:text-xl"
          set:html="<Marquee />"
        />
        <div class="w-full">
          <Marquee />
        </div>
      </section>
      <section class="p-6 shadow-custom">
        <h3
          class="mb-10 text-4xl font-bold underline mobile:text-xl"
          set:html="<Author />"
        />
        <Author />
      </section>

      <section class="p-6 shadow-custom">
        <h3
          class="text-4xl font-bold underline mobile:text-xl"
          set:html="<Calendar />"
        />
        <p class="mb-10 mt-1 text-lg">
          Можно добавить проп isFixed и тогда календарь будет статичным
        </p>
        <div class="max-w-[300px]">
          <Calendar />
        </div>
      </section>

      <section class="mb-10 p-6 shadow-custom">
        <h3 class="mb-10 text-4xl font-bold underline mobile:text-xl">Rating</h3>
        <Rating class="mb-10" />

        <h3 class="mb-10 text-4xl font-bold underline mobile:text-xl">Rating variant=static</h3>
        <Rating variant="static" />
      </section>

      <section class="mb-10 p-6 shadow-custom">
        <h3 class="mb-10 text-4xl font-bold underline mobile:text-xl">Pagination</h3>
        <Pagination
          currentPage={1}
          totalPages={20}
          class="my-pagination"
        />

        <h3 class="mb-10 text-4xl font-bold underline mobile:text-xl">
          Pagination без кнопки "Загрузить еще"
        </h3>
        <Pagination
          currentPage={1}
          totalPages={20}
          showLoadMore={false}
        />
      </section>

      <section class="mb-10 p-6 shadow-custom">
        <h3 class="mb-10 text-4xl font-bold underline mobile:text-xl">Badge</h3>
        <div>
          <Badge text="Новая" />
          <Badge text="Новая" />
          <Badge text="В работе" />
          <Badge text="Завершена" />
          <Badge text="В работе" />
          <Badge text="Отложена" />
        </div>

        <h3 class="mb-10 text-4xl font-bold underline mobile:text-xl">Badge кликабельные</h3>
        <div class="mt-5">
          <Badge
            text="В работе"
            value="v5"
            selectable
          />
          <Badge
            text="Новая"
            value="v6"
            selectable
          />
          <Badge
            text="Отложена"
            value="v7"
            checked
            selectable
          />
          <Badge
            text="Отменена"
            value="v8"
            selectable
          />
        </div>
      </section>

      <section class="mb-10 p-6 shadow-custom">
        <h3 class="mb-10 text-4xl font-bold underline mobile:text-xl">Skeleton</h3>
        <div class="h-80px w-1/3">
          <Skeleton />
        </div>
      </section>

      <section>
        <UiInputUpload />
      </section>
      <section><UiInputNumber /></section>
      <section><UiTable /></section>
      <section><UiProgressBar /></section>
    </div>
  </div>

  <style>
    @import './index.scss';
  </style>
</Layout>
