---
import StickyAnchors from '@widgets/sticky-anchors/StickyAnchors.astro'

export { StickyScrollAnchors }
---

<div class="sticky-scroll-anchors">
  <StickyAnchors class="offer-content__legal">
    <div slot="content-block">
      <ol>
        <li>
          <section
            id="section1"
            data-legals-scroll-block="section1"
          >
            <h2><b>Общие положения и основные термины</b></h2>
            <ol>
              <li>
                Продавец — Общество с ограниченной ответственностью «Кёртинг РУС», место нахождения:
                125252, город Москва, Гризодубовой улица, дом 4, корпус 3, эт 1 пом 1 ком 2, ОГРН:
                5157746007470, Дата присвоения ОГРН: 30.10.2015, ИНН: 7714360812, КПП: 771401001,
                почтовый адрес для отправки претензий и иной корреспонденции: 125130, г. Москва, ул.
                Выборгская, д. 22, стр. 7, email: <a href="mailto:info@korting.ru"
                  >info@korting.ru</a
                >, тел. <a href="tel:88005006861">8 800 500 68 61</a>, <a href="tel:84951506414"
                  >+7 (495) 150-64-14</a
                >.
              </li>
              <li>
                Интернет-магазин - интернет-сайт <a href="https://korting.ru">https://korting.ru</a
                >. Интернет-сайт доступен круглосуточно.
              </li>
              <li>
                Покупатель - любое физическое лицо, которое оформило заказ на приобретение товара у
                продавца в установленном разд. 3 оферты порядке, которое приобретает товар для
                личных, семейных, домашних и иных нужд, которые не связаны с его предпринимательской
                деятельностью.
              </li>
              <li>
                Оферта - публичное предложение продавца любому лицу заключить на ее условиях договор
                купли-продажи товара (далее - договор). Оферта является публичной (п. 2 ст. 437 ГК
                РФ). Оферта вступает в силу с момента ее размещения на сайте интернет-магазина по
                адресу: <a href="https://korting.ru">https://korting.ru</a> и действует до ее отзыва.
                Все приложения и дополнения к оферте являются неотъемлемой частью оферты.
              </li>
            </ol>
          </section>
        </li>
        <li>
          <section
            id="section2"
            data-legals-scroll-block="section2"
          >
            <h2><b>Предмет договора</b></h2>
            <ol>
              <li>
                Продавец — Общество с ограниченной ответственностью «Кёртинг РУС», место нахождения:
                125252, город Москва, Гризодубовой улица, дом 4, корпус 3, эт 1 пом 1 ком 2, ОГРН:
                5157746007470, Дата присвоения ОГРН: 30.10.2015, ИНН: 7714360812, КПП: 771401001,
                почтовый адрес для отправки претензий и иной корреспонденции: 125130, г. Москва, ул.
                Выборгская, д. 22, стр. 7, email:
                <a href="mailto:info@korting.ru">info@korting.ru</a>, тел. <a href="tel:88005006861"
                  >8 800 500 68 61</a
                >, <a href="tel:84951506414">+7 (495) 150-64-14</a>.
              </li>
              <li>
                Интернет-магазин - интернет-сайт <a href="https://korting.ru">https://korting.ru</a
                >. Интернет-сайт доступен круглосуточно.
              </li>
              <li>
                Покупатель - любое физическое лицо, которое оформило заказ на приобретение товара у
                продавца в установленном разд. 3 оферты порядке, которое приобретает товар для
                личных, семейных, домашних и иных нужд, которые не связаны с его предпринимательской
                деятельностью.
              </li>
              <li>
                Оферта - публичное предложение продавца любому лицу заключить на ее условиях договор
                купли-продажи товара (далее - договор). Оферта является публичной (п. 2 ст. 437 ГК
                РФ). Оферта вступает в силу с момента ее размещения на сайте интернет-магазина по
                адресу: <a href="https://korting.ru">https://korting.ru</a> и действует до ее отзыва.
                Все приложения и дополнения к оферте являются неотъемлемой частью оферты.
              </li>
            </ol>
          </section>
        </li>
        <li>
          <section
            id="section3"
            data-legals-scroll-block="section3"
          >
            <h2><b>Порядок заключения договора, оформление заказа</b></h2>
            <ol>
              <li>
                Продавец — Общество с ограниченной ответственностью «Кёртинг РУС», место нахождения:
                125252, город Москва, Гризодубовой улица, дом 4, корпус 3, эт 1 пом 1 ком 2, ОГРН:
                5157746007470, Дата присвоения ОГРН: 30.10.2015, ИНН: 7714360812, КПП: 771401001,
                почтовый адрес для отправки претензий и иной корреспонденции: 125130, г. Москва, ул.
                Выборгская, д. 22, стр. 7, email: <a href="mailto:info@korting.ru"
                  >info@korting.ru</a
                >, тел. <a href="tel:88005006861">8 800 500 68 61</a>, <a href="tel:84951506414"
                  >+7 (495) 150-64-14</a
                >.
              </li>
              <li>
                Интернет-магазин - интернет-сайт <a href="https://korting.ru">https://korting.ru</a
                >. Интернет-сайт доступен круглосуточно.
              </li>
              <li>
                Покупатель - любое физическое лицо, которое оформило заказ на приобретение товара у
                продавца в установленном разд. 3 оферты порядке, которое приобретает товар для
                личных, семейных, домашних и иных нужд, которые не связаны с его предпринимательской
                деятельностью.
              </li>
              <li>
                Оферта - публичное предложение продавца любому лицу заключить на ее условиях договор
                купли-продажи товара (далее - договор). Оферта является публичной (п. 2 ст. 437 ГК
                РФ). Оферта вступает в силу с момента ее размещения на сайте интернет-магазина по
                адресу: <a href="https://korting.ru">https://korting.ru</a> и действует до ее отзыва.
                Все приложения и дополнения к оферте являются неотъемлемой частью оферты.
              </li>
            </ol>
          </section>
        </li>
        <li>
          <section
            id="section4"
            data-legals-scroll-block="section4"
          >
            <h2><b>Стоимость заказа и его оплата</b></h2>
            <ol>
              <li>
                Продавец — Общество с ограниченной ответственностью «Кёртинг РУС», место нахождения:
                125252, город Москва, Гризодубовой улица, дом 4, корпус 3, эт 1 пом 1 ком 2, ОГРН:
                5157746007470, Дата присвоения ОГРН: 30.10.2015, ИНН: 7714360812, КПП: 771401001,
                почтовый адрес для отправки претензий и иной корреспонденции: 125130, г. Москва, ул.
                Выборгская, д. 22, стр. 7, email: <a href="mailto:info@korting.ru"
                  >info@korting.ru</a
                >, тел. <a href="tel:88005006861">8 800 500 68 61</a>, <a href="tel:84951506414"
                  >+7 (495) 150-64-14</a
                >.
              </li>
              <li>
                Интернет-магазин - интернет-сайт <a href="https://korting.ru">https://korting.ru</a
                >. Интернет-сайт доступен круглосуточно.
              </li>
              <li>
                Покупатель - любое физическое лицо, которое оформило заказ на приобретение товара у
                продавца в установленном разд. 3 оферты порядке, которое приобретает товар для
                личных, семейных, домашних и иных нужд, которые не связаны с его предпринимательской
                деятельностью.
              </li>
              <li>
                Оферта - публичное предложение продавца любому лицу заключить на ее условиях договор
                купли-продажи товара (далее - договор). Оферта является публичной (п. 2 ст. 437 ГК
                РФ). Оферта вступает в силу с момента ее размещения на сайте интернет-магазина по
                адресу: <a href="https://korting.ru">https://korting.ru</a> и действует до ее отзыва.
                Все приложения и дополнения к оферте являются неотъемлемой частью оферты.
              </li>
            </ol>
          </section>
        </li>
        <li>
          <section
            id="section5"
            data-legals-scroll-block="section5"
          >
            <h2><b>Доставка товара</b></h2>
            <ol>
              <li>
                Продавец — Общество с ограниченной ответственностью «Кёртинг РУС», место нахождения:
                125252, город Москва, Гризодубовой улица, дом 4, корпус 3, эт 1 пом 1 ком 2, ОГРН:
                5157746007470, Дата присвоения ОГРН: 30.10.2015, ИНН: 7714360812, КПП: 771401001,
                почтовый адрес для отправки претензий и иной корреспонденции: 125130, г. Москва, ул.
                Выборгская, д. 22, стр. 7, email: <a href="mailto:info@korting.ru"
                  >info@korting.ru</a
                >, тел. <a href="tel:88005006861">8 800 500 68 61</a>, <a href="tel:84951506414"
                  >+7 (495) 150-64-14</a
                >.
              </li>
              <li>
                Интернет-магазин - интернет-сайт <a href="https://korting.ru">https://korting.ru</a
                >. Интернет-сайт доступен круглосуточно.
              </li>
              <li>
                Покупатель - любое физическое лицо, которое оформило заказ на приобретение товара у
                продавца в установленном разд. 3 оферты порядке, которое приобретает товар для
                личных, семейных, домашних и иных нужд, которые не связаны с его предпринимательской
                деятельностью.
              </li>
              <li>
                Оферта - публичное предложение продавца любому лицу заключить на ее условиях договор
                купли-продажи товара (далее - договор). Оферта является публичной (п. 2 ст. 437 ГК
                РФ). Оферта вступает в силу с момента ее размещения на сайте интернет-магазина по
                адресу: <a href="https://korting.ru">https://korting.ru</a> и действует до ее отзыва.
                Все приложения и дополнения к оферте являются неотъемлемой частью оферты.
              </li>
            </ol>
          </section>
        </li>
        <li>
          <section
            id="section6"
            data-legals-scroll-block="section6"
          >
            <h2><b>Изменение заказа и отказ от него</b></h2>
            <ol>
              <li>
                Продавец — Общество с ограниченной ответственностью «Кёртинг РУС», место нахождения:
                125252, город Москва, Гризодубовой улица, дом 4, корпус 3, эт 1 пом 1 ком 2, ОГРН:
                5157746007470, Дата присвоения ОГРН: 30.10.2015, ИНН: 7714360812, КПП: 771401001,
                почтовый адрес для отправки претензий и иной корреспонденции: 125130, г. Москва, ул.
                Выборгская, д. 22, стр. 7, email: <a href="mailto:info@korting.ru"
                  >info@korting.ru</a
                >, тел. <a href="tel:88005006861">8 800 500 68 61</a>, <a href="tel:84951506414"
                  >+7 (495) 150-64-14</a
                >.
              </li>
              <li>
                Интернет-магазин - интернет-сайт <a href="https://korting.ru">https://korting.ru</a
                >. Интернет-сайт доступен круглосуточно.
              </li>
              <li>
                Покупатель - любое физическое лицо, которое оформило заказ на приобретение товара у
                продавца в установленном разд. 3 оферты порядке, которое приобретает товар для
                личных, семейных, домашних и иных нужд, которые не связаны с его предпринимательской
                деятельностью.
              </li>
              <li>
                Оферта - публичное предложение продавца любому лицу заключить на ее условиях договор
                купли-продажи товара (далее - договор). Оферта является публичной (п. 2 ст. 437 ГК
                РФ). Оферта вступает в силу с момента ее размещения на сайте интернет-магазина по
                адресу: <a href="https://korting.ru">https://korting.ru</a> и действует до ее отзыва.
                Все приложения и дополнения к оферте являются неотъемлемой частью оферты.
              </li>
            </ol>
          </section>
        </li>
        <li>
          <section
            id="section7"
            data-legals-scroll-block="section7"
          >
            <h2><b>Возврат и обмен товара</b></h2>
            <ol>
              <li>
                Продавец — Общество с ограниченной ответственностью «Кёртинг РУС», место нахождения:
                125252, город Москва, Гризодубовой улица, дом 4, корпус 3, эт 1 пом 1 ком 2, ОГРН:
                5157746007470, Дата присвоения ОГРН: 30.10.2015, ИНН: 7714360812, КПП: 771401001,
                почтовый адрес для отправки претензий и иной корреспонденции: 125130, г. Москва, ул.
                Выборгская, д. 22, стр. 7, email: <a href="mailto:info@korting.ru"
                  >info@korting.ru</a
                >, тел. <a href="tel:88005006861">8 800 500 68 61</a>, <a href="tel:84951506414"
                  >+7 (495) 150-64-14</a
                >.
              </li>
              <li>
                Интернет-магазин - интернет-сайт <a href="https://korting.ru">https://korting.ru</a
                >. Интернет-сайт доступен круглосуточно.
              </li>
              <li>
                Покупатель - любое физическое лицо, которое оформило заказ на приобретение товара у
                продавца в установленном разд. 3 оферты порядке, которое приобретает товар для
                личных, семейных, домашних и иных нужд, которые не связаны с его предпринимательской
                деятельностью.
              </li>
              <li>
                Оферта - публичное предложение продавца любому лицу заключить на ее условиях договор
                купли-продажи товара (далее - договор). Оферта является публичной (п. 2 ст. 437 ГК
                РФ). Оферта вступает в силу с момента ее размещения на сайте интернет-магазина по
                адресу: <a href="https://korting.ru">https://korting.ru</a> и действует до ее отзыва.
                Все приложения и дополнения к оферте являются неотъемлемой частью оферты.
              </li>
            </ol>
          </section>
        </li>
        <li>
          <section
            id="section8"
            data-legals-scroll-block="section8"
          >
            <h2><b>Прочие положения</b></h2>
            <ol>
              <li>
                Продавец — Общество с ограниченной ответственностью «Кёртинг РУС», место нахождения:
                125252, город Москва, Гризодубовой улица, дом 4, корпус 3, эт 1 пом 1 ком 2, ОГРН:
                5157746007470, Дата присвоения ОГРН: 30.10.2015, ИНН: 7714360812, КПП: 771401001,
                почтовый адрес для отправки претензий и иной корреспонденции: 125130, г. Москва, ул.
                Выборгская, д. 22, стр. 7, email: <a href="mailto:info@korting.ru"
                  >info@korting.ru</a
                >, тел. <a href="tel:88005006861">8 800 500 68 61</a>, <a href="tel:84951506414"
                  >+7 (495) 150-64-14</a
                >.
              </li>
              <li>
                Интернет-магазин - интернет-сайт <a href="https://korting.ru">https://korting.ru</a
                >. Интернет-сайт доступен круглосуточно.
              </li>
              <li>
                Покупатель - любое физическое лицо, которое оформило заказ на приобретение товара у
                продавца в установленном разд. 3 оферты порядке, которое приобретает товар для
                личных, семейных, домашних и иных нужд, которые не связаны с его предпринимательской
                деятельностью.
              </li>
              <li>
                Оферта - публичное предложение продавца любому лицу заключить на ее условиях договор
                купли-продажи товара (далее - договор). Оферта является публичной (п. 2 ст. 437 ГК
                РФ). Оферта вступает в силу с момента ее размещения на сайте интернет-магазина по
                адресу: <a href="https://korting.ru">https://korting.ru</a> и действует до ее отзыва.
                Все приложения и дополнения к оферте являются неотъемлемой частью оферты.
              </li>
            </ol>
          </section>
        </li>
      </ol>
      <br />
      <p>
        Продавец вправе изменить или отозвать оферту в одностороннем порядке. Все изменения вступают
        в силу и считаются доведенными до сведения покупателя в момент размещения на указанной
        интернет-странице. Заказы, которые уже оформлены к моменту изменения или отзыва оферты,
        исполняются на условиях оферты, которая действовала на момент их оформления.
      </p>
    </div>

    <div
      slot="anchors-block"
      class="anchors-block"
      data-anchors-aside
    >
      <a
        href="#section1"
        class="anchors-aside__link active"
      >
        Общие положения и основные термины
      </a><a
        href="#section2"
        class="anchors-aside__link"
      >
        Предмет договора
      </a><a
        href="#section3"
        class="anchors-aside__link"
      >
        Порядок заключения договора, оформление заказа
      </a><a
        href="#section4"
        class="anchors-aside__link"
      >
        Стоимость заказа и его оплата
      </a><a
        href="#section5"
        class="anchors-aside__link"
      >
        Доставка товара
      </a><a
        href="#section6"
        class="anchors-aside__link"
      >
        Изменение заказа и отказ от него
      </a><a
        href="#section7"
        class="anchors-aside__link"
      >
        Возврат и обмен товара
      </a><a
        href="#section8"
        class="anchors-aside__link"
      >
        Прочие положения
      </a>
    </div>
  </StickyAnchors>
</div>
